body {
    background: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}
body h1{
    position: absolute;
    top: 5vh;
    font-size: 45px;
    color: white;
}
.contact-form {
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    color: #707070;
}
.contact-form h2 {
    margin-bottom: 20px;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    background-color: #5cb85c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #4cae4c;
}