*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    display: none;
}

@media(max-width: 768px){
    .containor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    input{
        display: none;
    }

    label{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        background: grey;
        /* display: block; */
        position: relative;
        top: 20px;
        transition: 1s;
        left: -35%;
    }
    label span{
        background-color: white;
        width: 30px;
        height: 5px;
        position: relative;
        /* transition: 1s ease-in-out; */
    }
    label span:nth-child(2){
        margin-top: 8px;
    }
    label span:nth-child(3){
        margin-top: 8px;
        transition: 1s;
    }
    /* .label2::before{
        content: '';
        background-color: white;
        width: 30px;
        height: 5px;
        display: block;
        position: absolute;
        top: 42px;
        left: 178px;
    }
    .label3::before{
        content: '';
        background-color: white;
        width: 30px;
        height: 5px;
        display: block;
        position: absolute;
        top: 53px;
        left: 178px;
    } */
    input:checked ~ label span:nth-child(1){
        transform: rotate(45deg);
        position: relative;
        top: 8px;
        transition: 1s;
    }

    input:checked ~ label span:nth-child(2){
        transform: rotate(-45deg);
        position: relative;
        bottom: 5px;
        transition: 1s;
    }
    input:checked ~ label span:nth-child(3){
        display: none;
        
    }

    navbar{
        width: auto;
        height: auto;
    }

    .nav{
        background: gray;
        position: relative;
        bottom: 50px;
        width: 56%;
        height: 93vh;
        /* opacity: 20%; */
        z-index: -1;
        overflow-y: hidden;
        transform: translateX(-100%);

    }

    @keyframes open {
        from{
            transform: translateX(-100%);
        }
        to{
            transform: translateX(0);
        }
    }
    .nav.show{
        animation: open 1s ease-in-out forwards;
    }
    .nav.notshow{
        animation: close 1s ease-in-out;
    }
    @keyframes close {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }
    .menu{
        position: relative;
        top: 20vh;
        list-style-type: none;
    }
    .Dropdown{
        background: white;
        width: 87%;
        position: relative;
        height: 5vh;
        left: 6%;
    }

    .Dropdown a{
        text-decoration: none;
        opacity: 100%;
        color: black;
        position: relative;
        top: 8px;
        margin-left: 36%;
    }
    .Dropdown2{
        background: white;
        width: 87%;
        position: relative;
        height: 5vh;
        left: 6%;
        margin-top: 5vh;
    }

    .Dropdown2 a{
        text-decoration: none;
        opacity: 100%;
        color: black;
        position: relative;
        top: 8px;
        margin-left: 36%;
    }
    .Dropdown3{
        background: white;
        width: 87%;
        position: relative;
        height: 5vh;
        left: 6%;
        margin-top: 5vh;
    }

    .Dropdown3 a{
        text-decoration: none;
        opacity: 100%;
        color: black;
        position: relative;
        top: 8px;
        margin-left: 36%;
    }
}
