.hero{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero img{
    width: 750px;
    -webkit-clip-path: polygon(30% 0, 100% 25%, 80% 100%, 0 85%);
    clip-path: polygon(30% 0, 100% 25%, 80% 100%, 0 85%);
    position: absolute;
    bottom: 109px;
    left: 5%;
}
.content h2{
    position: relative;
    font-weight: normal;
    top: 50vh;
    left: 68%;
}
.content-hero{
    color: white;
    position: absolute;
    top: 50vh;
    left: 53%;
}
.content-hero h2{
    font-weight: lighter;

}
.content-hero span{
    color: #4bffa5;
}
.mail{
    position: relative;
    top: 77vh;
    right: 38%;
}
.mail p{
    color: #999795;
}
.span{
    color: #4bffa5;
    font-weight: normal;
}
.typing-container {
    font-size: 65px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
    position: absolute;
    top: 85vh;
}
.cursor {
    display: inline-block;
    width: 2px;
    background-color: #4bffa5;
    margin-left: 2px;
    animation: blink 0.7s infinite;
}
