*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    background-repeat: no-repeat;
    background: #0c0c0c;
    overflow-y: hidden;
}
input{
    display: none;
}
navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
}
navbar a{
    text-decoration: none;
    color: white;
    
}
nav{
    margin-right: 4%;
    width: auto;
    height: auto;
    width: 100%;
}
.overlay{
    display: none;
}
span{
    color: #a4a7a9;
}

/* label{
    position: relative;
    display: block;
    border-radius: 200px;
    width: 30px;
    height: 20px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px --5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
label::after{
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
} */

/* .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4bffa5;
    opacity: 20%;
    position: absolute;
    transition: transform 0.05s ease;
    transform: translate(-50%, -50%);
    will-change: transform;
} */
#icon{
    width: 30px;
    cursor: pointer;
}
nav{
    width: auto;
    height: auto;

}
ul{
    overflow: hidden;
}
ul li{
    display: inline-block;
    margin: 20px;

}
ul li a{
    text-decoration: none;
    color: white;
}
.home:hover{
    content: 'Home';
}
/* .home::after {
    content: '▼';
    margin-left: 6px;
    font-size: 10px;
} */
/* .dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    background: #1d1d1d;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    top: 12vh;
    right: 34%;
}
.dropdown li{
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: 12%;
    cursor: pointer;
    
}
.dropdown li a{
    position: relative;
    left: 15px;
} */
.Dropdown a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 283px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown:hover .dropdown{
    display: block;
}
.Dropdown a:visited{
    color: #4bffa5;
}
.dropdown li::before{
    content: '';
    position: absolute;
    top: 1vh;
    left: 40px;
    height: 4px;
    width: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.dropdown li:hover::before{
    transform: translate(50%,50%) scale(20);
}
/* .resume::after {
    content: '▼';
    margin-left: 6px;
    font-size: 10px;
} */
/* .dropdown-second{
    display: none;
    position: absolute;
    z-index: 1;
    background: #1d1d1d;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    top: 12vh;
    right: 29%;
}
.dropdown-second li{
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: 14%;
    cursor: pointer;
    
}
.dropdown-second li a{
    position: relative;
    left: 15px;
} */
.Dropdown2 a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 195px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown2 a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown2:hover .dropdown-second{
    display: block;
}
/* .works::after {
    content: '▼';
    margin-left: 6px;
    font-size: 10px;
} */
/* .dropdown-third{
    display: none;
    position: absolute;
    z-index: 1;
    background: #1d1d1d;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    top: 12vh;
    right: 21%;
}
.dropdown-third li{
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: 20%;
    cursor: pointer;
    
}
.dropdown-third li a{
    position: relative;
    left: 15px;
} */
.Dropdown3 a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 103px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown3 a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown3:hover .dropdown-third{
    display: block;
}

.Dropdown4 a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 197px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown4 a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
/* .contacts::after {
    content: '▼';
    margin-left: 6px;
    font-size: 10px;
} */
/* .dropdown-fourth{
    display: none;
    position: absolute;
    z-index: 1;
    background: #1d1d1d;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    top: 12vh;
    right: 9%;
}
.dropdown-fourth li{
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: 12%;
    cursor: pointer;
    
}
.dropdown-fourth li a{
    position: relative;
    left: 15px;
} */
.Dropdown5 a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 110px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown5 a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown5:hover .dropdown-fourth{
    display: block;
}
.Dropdown1-res a::before {
    content: '';
    position: absolute;
    bottom: 25px;
    right: 283px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown1-res a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown1-res:hover .dropdown{
    display: block;
}
.Dropdown2-res a::before {
    content: '';
    position: absolute;
    bottom: 25px;
    right: 193px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown2-res a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown2-res:hover .dropdown{
    display: block;
}
.Dropdown3-res a::before {
    content: '';
    position: absolute;
    bottom: 25px;
    right: 102px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown3-res a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown3-res:hover .dropdown{
    display: block;
}
.sidebar {
    position: fixed;
    top: 15%;
    right: 4%;
    width: auto;
    height: auto;
}
/* .Dropdown6 a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 167px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown6 a:hover::before {
    transform: translate(50%, 50%) scale(20);
} */
/* .Dropdown7 a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 65px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown7 a:hover::before {
    transform: translate(50%, 50%) scale(20); 
}*/

.dropdown-arrow {
    display: inline-block;
    position: relative;
}

.dropdown-arrow button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
#sentence{
    font-size: 24px;
    text-align: center;
    color: white;
    position: relative;
    top: 60vh;
}
.hamburger {
    display: none; /* Hidden by default */
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 4%;
}
@media (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        
    }
    body{
        overflow: hidden;
        /* position: fixed; */
        background: white;
    }
    .containor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }


    input{
        display: none;
    }

    label{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50px;
        height: 50px;
        background: grey;
        /* display: block; */
        position: relative;
        transition: 1s;
        left: 155px;
        top: -70vh;
    }
    label span{
        background-color: white;
        width: 30px;
        height: 5px;
        position: relative;
        /* transition: 1s ease-in-out; */
    }
    label span:nth-child(2){
        margin-top: 8px;
    }
    label span:nth-child(3){
        margin-top: 8px;
        transition: 1s;
    }
    /* .label2::before{
        content: '';
        background-color: white;
        width: 30px;
        height: 5px;
        display: block;
        position: absolute;
        top: 42px;
        left: 178px;
    }
    .label3::before{
        content: '';
        background-color: white;
        width: 30px;
        height: 5px;
        display: block;
        position: absolute;
        top: 53px;
        left: 178px;
    } */
    input:checked ~ label span:nth-child(1){
        transform: rotate(45deg);
        position: relative;
        top: 8px;
        transition: 1s;
    }

    input:checked ~ label span:nth-child(2){
        transform: rotate(-45deg);
        position: relative;
        bottom: 5px;
        transition: 1s;
    }
    input:checked ~ label span:nth-child(3){
        display: none;
        
    }


    navbar{
        height: 80vh;
    }
    .nav{
        background: rgb(219, 213, 213);
        position: absolute;
        bottom: 50px;
        width: 55%;
        height: 100vh;
        /* opacity: 20%; */
        z-index: -1;
        transform: translateX(-100%);
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    .overlay{
        display: block;
        position: absolute;
        width: 50%;
        height: 100vh;
        /* background-color: rgba(0, 0, 0, 0.5); */
        /* background-color: blue; */
        left: 0;
        top: 0;
        z-index: -2;
    }
    /* .nav::after{
        content: '';
        background: blue;
        position: absolute;
        width: 60%;
        height: 100vh;
        z-index: -2;
        transform: translateX(-100%);
        left: 0;
        bottom: 0;
    } */
    @keyframes open {
        from{
            transform: translateX(-100%);
        }
        to{
            transform: translateX(0);
        }
    }
    .nav.show{
        animation: open 1s ease-in-out forwards;
    }
    .nav.notshow{
        animation: close 1s ease-in-out;
    }
    @keyframes close {
        from{
            transform: translateX(0);
        }
        to{
            transform: translateX(-100%);
        }
    }
    .menu{
        height: 10vh;
        display: block;
    }
    .Dropdown{
        background: white;
        width: 87%;
        position: relative;
        height: 5vh;
        left: 6%;
        margin-top: 5vh;
    }

    .Dropdown a{
        text-decoration: none;
        opacity: 100%;
        color: black;
        position: relative;
        top: 8px;
        margin-left: 36%;
    }
    .Dropdown2{
        background: white;
        width: 87%;
        position: relative;
        height: 5vh;
        left: 6%;
        margin-top: 5vh;
    }

    .Dropdown2 a{
        text-decoration: none;
        opacity: 100%;
        color: black;
        position: relative;
        top: 8px;
        margin-left: 36%;
    }
    .Dropdown3{
        background: white;
        width: 87%;
        position: relative;
        height: 5vh;
        left: 6%;
        margin-top: 5vh;
    }

    .Dropdown3 a{
        text-decoration: none;
        opacity: 100%;
        color: black;
        position: relative;
        top: 8px;
        margin-left: 36%;
    }


    /* Adjust font size */
    .hero h2 {
        font-size: 2rem;
        visibility: hidden;
    }

    .mail p {
        font-size: 1rem;
    }

    navbar {
        flex-direction: column;
        align-items: center;
    }

    .text-containor {
        width: 100%;
        position: relative;
        top: 10px;
        right: 155px;
        visibility: hidden;
    }

    nav {
        margin: 0;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }
    .sidebar {
        width: auto;
        top: auto;
        bottom: 10px;
        left: 0;
        right: 0;
        transform: none;
        display: flex;
        justify-content: center;
        display: none;
    }

    .sidebar .align {
        display: none;
    }

    .sidebar .social a {
        font-size: 1.2rem;
        margin: 0 10px;
    }
    .menu {
        display: none;
        flex-direction: column;
        background-color: #0c0c0c;
        position: absolute;
        top: 50px;
        right: 0;
        width: 100%;
        height: auto;
    }
    .hamburger {
        display: block;
        cursor: pointer;
        font-size: 24px;
        color: white;
        position: relative;
        left: 186px;
        bottom: 15px;
    }
    .menu.show {
        display: flex;
    }
    nav ul li {
        padding: 15px 0;
    }
    .hamburger i {
        color: white;
    }
    .hero .image img {
        width: 40%;
        height: 40vh;
        margin: 0 auto;
        display: block;
        clip-path: none;
        position: absolute;
        bottom: 40vh;
        left: 25px;
        z-index: -2;
        visibility: hidden;
    }
    .hero {
        padding: 20px;
        visibility: hidden;
    }
    .content-hero h2{
        text-align: justify;
        width: 100%;
        font-size: 19px;
        position: relative;
        right: 7%;
        bottom: 15vh;
    }
    .typing-container{
        position: absolute;
        bottom: 10vh;
    }
    #typing-text {
        font-size: 24px;
        position: relative;
        bottom: 8vh;
    }
    .cursor{
        height: 5px;
    }
    .mail{
        position: relative;
        left: -80px;
    
    }
    .mail p{
        text-align: justify;
    }
    .sidebar{
        visibility: hidden;
    }
    .typing-container{
        visibility: hidden;
    }
}