*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-repeat: no-repeat;
    background: #0c0c0c;

}
navbar{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    position: sticky;
}
navbar a{
    text-decoration: none;
    color: white;
    
}
nav{
    margin-right: 4%;
}

  


/* label{
    position: relative;
    display: block;
    border-radius: 200px;
    width: 30px;
    height: 20px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px --5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
}
label::after{
    content: "";
    width: 180px;
    height: 180px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
} */

/* .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4bffa5;
    opacity: 20%;
    position: absolute;
    transition: transform 0.05s ease;
    transform: translate(-50%, -50%);
    will-change: transform;
} */
#icon{
    width: 30px;
    cursor: pointer;
}
nav{
    width: auto;
    height: auto;

}
ul{
    overflow: hidden;
}
ul li{
    display: inline-block;
    margin: 20px;

}
ul li a{
    text-decoration: none;
    color: white;
}
.home:hover{
    content: 'Home';
}
/* .home::after {
    content: '▼';
    margin-left: 6px;
    font-size: 10px;
} */
/* .dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    background: #1d1d1d;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    top: 12vh;
    right: 34%;
}
.dropdown li{
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: 12%;
    cursor: pointer;
    
}
.dropdown li a{
    position: relative;
    left: 15px;
} */
.Dropdown a::before {
    content: '';
    position: absolute;
    top: 4vh;
    right: 283px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown:hover .dropdown{
    display: block;
}
.dropdown li::before{
    content: '';
    position: absolute;
    top: 1vh;
    left: 40px;
    height: 4px;
    width: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.dropdown li:hover::before{
    transform: translate(50%,50%) scale(20);
}
/* .resume::after {
    content: '▼';
    margin-left: 6px;
    font-size: 10px;
} */
/* .dropdown-second{
    display: none;
    position: absolute;
    z-index: 1;
    background: #1d1d1d;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    top: 12vh;
    right: 29%;
}
.dropdown-second li{
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: 14%;
    cursor: pointer;
    
}
.dropdown-second li a{
    position: relative;
    left: 15px;
} */
.Dropdown2 a::before {
    content: '';
    position: absolute;
    top: 4vh;
    right: 195px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown2 a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown2:hover .dropdown-second{
    display: block;
}
/* .works::after {
    content: '▼';
    margin-left: 6px;
    font-size: 10px;
} */
/* .dropdown-third{
    display: none;
    position: absolute;
    z-index: 1;
    background: #1d1d1d;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    top: 12vh;
    right: 21%;
}
.dropdown-third li{
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: 20%;
    cursor: pointer;
    
}
.dropdown-third li a{
    position: relative;
    left: 15px;
} */
.Dropdown3 a::before {
    content: '';
    position: absolute;
    top: 4vh;
    right: 102px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown3 a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown3:hover .dropdown-third{
    display: block;
}
.Dropdown3 a:visited{
    color: #4bffa5;
}
.Dropdown4 a::before {
    content: '';
    position: absolute;
    top: 4vh;
    right: 197px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown4 a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
/* .contacts::after {
    content: '▼';
    margin-left: 6px;
    font-size: 10px;
} */
/* .dropdown-fourth{
    display: none;
    position: absolute;
    z-index: 1;
    background: #1d1d1d;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    top: 12vh;
    right: 9%;
}
.dropdown-fourth li{
    display: list-item;
    list-style-type: none;
    box-sizing: border-box;
    height: 20px;
    width: 100%;
    border-bottom: 1px solid black;
    position: relative;
    right: 12%;
    cursor: pointer;
    
}
.dropdown-fourth li a{
    position: relative;
    left: 15px;
} */
.Dropdown5 a::before {
    content: '';
    position: absolute;
    top: 4vh;
    right: 110px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown5 a:hover::before {
    transform: translate(50%, 50%) scale(20);
}
.Dropdown5:hover .dropdown-fourth{
    display: block;
}
/* .Dropdown6 a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 167px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown6 a:hover::before {
    transform: translate(50%, 50%) scale(20);
} */
/* .Dropdown7 a::before {
    content: '';
    position: absolute;
    top: 7vh;
    right: 65px;
    width: 4px;
    height: 4px;
    background-color: #4bffa5;
    opacity: 20%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.4s ease;
    z-index: 2;
}
.Dropdown7 a:hover::before {
    transform: translate(50%, 50%) scale(20); 
}*/
.projects{
    width: 100%;
    height: 205vh;
}
.projects h2{
    position: absolute;
    top: 20vh;
    left: 18%;
    color: #929292;
}
.project1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 17vh;
}
.iframe1{
    position: absolute;
    top: 5vh;
    right: 56%;
    height: 93vh;
    width: 25%;
}

.iframe2{
    position: absolute;
    top: 5vh;
    right: 20%;
    height: 63vh;
    width: 25%;
}
.project2{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 17vh;
}
.iframe3{
    position: absolute;
    top: 85vh;
    right: 20%;
    height: 93vh;
    width: 25%;
}
.iframe4{
    position: absolute;
    top: 115vh;
    right: 56%;
    height: 63vh;
    width: 25%;
}
.extra{
    height: 20vh;
    width: auto;
}
h1{
    color: white;
    position: absolute;
    left: 45%;
    top: 8vh;
    font-size: 45px;
}